@import url(https://db.onlinewebfonts.com/c/3c52c9c0438de361b83ad61c5fbe2155?family=OCR-B+10+Pitch+BT); 


html {
  background-color: #ffffff;
  font-family: "OCR-B 10 Pitch BT";
  overflow-y: scroll;
}

@font-face {
    font-family: "OCR-B 10 Pitch BT";
    src: url("https://db.onlinewebfonts.com/t/3c52c9c0438de361b83ad61c5fbe2155.eot");
    src: url("https://db.onlinewebfonts.com/t/3c52c9c0438de361b83ad61c5fbe2155.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/3c52c9c0438de361b83ad61c5fbe2155.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/3c52c9c0438de361b83ad61c5fbe2155.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/3c52c9c0438de361b83ad61c5fbe2155.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/3c52c9c0438de361b83ad61c5fbe2155.svg#OCR-B 10 Pitch BT")format("svg");
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 132ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */

.header-container-mobile {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
}

.header-container-mobile div {
    margin:0px;
    padding:0px;
}

.logo-link {
    max-width: 100%;
}

.logo-link img {
    max-width: 50%;
    height: auto;
}

.menu {
  border: none;
  background-color:#ffffff;
  font-size: 1.2rem;
  font-weight: normal;
  padding: 0px 0px;
}

.nav-links-mobile {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links-mobile a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
}

.nav-links-mobile a:hover,
.nav-links-mobile a:focus {
  color: #d52bd3;
  text-decoration: underline;
}

:has(.menu[aria-expanded="true"]) .nav-links-mobile {
    display: block;

}

:has(.menu[aria-expanded="true"]) .burger-closed {
    display: none;

}

:has(.menu[aria-expanded="false"]) .burger-open {
    display: none;

}

@media screen and (max-width: 637px) {
  .header-container-desktop {
    display: none;}
  }

/* desktop nav styles */ 

@media screen and (min-width: 636px) {
  .header-container-desktop {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    align-items: end;
    justify-content: space-between;
    background-color: none;
    white-space: nowrap;
  }

.logo-link {
    max-width: 100%;
}

.logo-link img {
    max-width: 50%;
    height: auto;
}
  
.nav-meta-links-desktop {
  width: 100%;
  margin:0;
  display: block;
  position: static;
  background: none;
}

.nav-meta-links-desktop a {
  display: inline-block;
  padding: 0px;
  margin: 25px;
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
  background-color: none;
}

.nav-meta-links-desktop img{
    vertical-align: text-bottom;
    padding-bottom: 0.1ch;
}

.nav-meta-links-desktop a:hover,
.nav-meta-links-desktop a:focus {
  color: #d52bd3;
  text-decoration: underline;
}

.header-container-mobile {
    display:none;
  }
}

/* Splash Styling*/

.splash-container {
    max-width: 100%;
}

.splash-container img {
    max-width: 100%;
    height: auto;
}