@import url(https://db.onlinewebfonts.com/c/3c52c9c0438de361b83ad61c5fbe2155?family=OCR-B+10+Pitch+BT); 


html {
  background-color: #ffffff;
  font-family: "OCR-B 10 Pitch BT";
  overflow-y: scroll;
}

@font-face {
    font-family: "OCR-B 10 Pitch BT";
    src: url("https://db.onlinewebfonts.com/t/3c52c9c0438de361b83ad61c5fbe2155.eot");
    src: url("https://db.onlinewebfonts.com/t/3c52c9c0438de361b83ad61c5fbe2155.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/3c52c9c0438de361b83ad61c5fbe2155.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/3c52c9c0438de361b83ad61c5fbe2155.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/3c52c9c0438de361b83ad61c5fbe2155.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/3c52c9c0438de361b83ad61c5fbe2155.svg#OCR-B 10 Pitch BT")format("svg");
}

body {
  margin: 0;
  line-height: 1.5;
  font-size: 0.96rem;
  opacity: 0;
  animation: fadeIn 2s forwards;
}


@keyframes fadeIn {
  to {
    opacity: 1;
      }
}

@media (min-width: 636px) {
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 125ch;
    padding: 1rem;
    font-size: 1.1rem;
  }
}


* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}


/* nav styles */

.header-container-mobile {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-between;
}

.header-container-mobile div {
    margin:0.4rem 0.4rem 0.2rem;
    padding:0px;
}

.logo-link {
    max-width: 100%;
}

.logo-link img {
    max-width: 50%;
    height: auto;
}

.menu {
  border: none;
  background-color:#ffffff;
  font-size: 1.2rem;
  font-weight: normal;
  padding: 0px 0px;
}

.nav-links-mobile {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links-mobile a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
}

.nav-links-mobile a:hover,
.nav-links-mobile a:focus {
  color: #d52bd3;
  text-decoration: underline;
}

:has(.menu[aria-expanded="true"]) .nav-links-mobile {
    display: block;
      opacity: 0;
  animation: fadeIn 1s forwards;

}

@keyframes fadeIn {
  to {
    opacity: 1;
      }
}

:has(.menu[aria-expanded="true"]) .splash-container {
    display: none;
}

:has(.menu[aria-expanded="true"]) .burger-closed {
    display: none;

}

:has(.menu[aria-expanded="false"]) .burger-open {
    display: none;

}

@media screen and (max-width: 637px) {
  .header-container-desktop {
    display: none;}
  }

/* desktop nav styles */ 

@media screen and (min-width: 636px) {
  .header-container-desktop {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    align-items: end;
    justify-content: space-between;
    background-color: none;
    white-space: nowrap;
  }

.logo-link {
    max-width: 100%;
}

.logo-link img {
    max-width: 50%;
    height: auto;
}
  
.nav-meta-links-desktop {
  width: 100%;
  margin:0;
  display: block;
  position: static;
  background: none;
}

.nav-meta-links-desktop a {
  display: inline-block;
  padding: 0px;
  margin: 25px;
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
  background-color: none;
}

.nav-meta-links-desktop img{
    vertical-align: text-bottom;
    padding-bottom: 0.1ch;
}

.nav-meta-links-desktop a:hover,
.nav-meta-links-desktop a:focus {
  color: #d52bd3;
  text-decoration: underline;
}

.header-container-mobile {
    display:none;
  }
}

/* Splash Styling */

:has(.menu[aria-expanded="false"]) .splash-container img {
    display: block;
      opacity: 0;
  animation: fadeIn 1s forwards;

}

.splash-container {
  max-width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.splash-container img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 637px) {
.splash-container {
    display: flex;
    flex-direction: column; /* Stack image and text vertically */
    position: static;
  }
  
  .text-overlay {
    position: static; /* Remove absolute positioning */
    margin-top: 5%;  /* Add space between image and text */
    margin-bottom: 10%;
    max-width: 14rem;
    text-align: center;
  }

}

@media screen and (min-width: 636px) {
.text-overlay {
  max-width: 14rem;
  text-align: center;
  position: absolute;
  color: white;
  margin-top: 25%;
  padding-left: 20px;
  padding-right: 20px;
  }
}


.text-overlay h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

/* Button Styling */

.abutton a {
  font-size: 0.9rem;
  padding: 6% 12%;
  margin: auto;
  width: fit-content;
  border-radius: 25px;
}

.abutton a:link,
.abutton a:visited {
  background-color: rgba(214, 206, 220, 0.6);
  border:  1px solid #d52bd3;
  color:#000000;
  text-decoration: none;
}

.abutton a:hover,
.abutton a:focus {
  background-color: rgba(214, 206, 220, 0.75);
  text-decoration: underline;
}

@media screen and (max-width: 637px) {
  .abutton a {
    font-size: 0.8rem;
  }
}

/* Content Styling */

.content {
  margin: 1rem;

}

@media (min-width: 636px) {
.content {
  margin: 0rem;
}
}

/* Card Module Styling */

.portfolio-cards {
  display: grid;
  margin-top: 2.5rem;
  padding-left: 0;
  padding-right: 0;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
  
  list-style:none;
}

.portfolio-cards img {
  width: 100%;
  height: auto;
}